.container3{
	padding: 150px 5vw 0 5vw;
}
.container3 h2{
    font-family: Poppins;
    font-size: 30px;
    font-weight: bold;
    padding: 0 0 30px 0;
}
@media only screen and (max-width: 1100px){
	.container3{
		padding:50px 0 0 0;
	}
	.container3 h2{
		padding: 50px 5vw 20px 5vw;
	}
}