.main_candidate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2em;
  width: 50vw;
  line-height: 1.5;
}

.card_candidate {
  width: 100%;
  text-decoration: none;
  padding: 1.2em;
}
.omar {
  margin-bottom: 10px;
}
.test {
  width: 4em;
  height: 2em;
  background-color: rgb(173, 207, 207);
  color: azure;
  cursor: pointer;
}
.mega {
  z-index: 10;
  display: none;
}
.n {
  height: 30px;
  width: 30px;
}
.l {
  height: 30px;
  width: 30px;
  transform: scale(-1);
  display: none;
}
