<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../View/css/tocand.css">
    <title>Candidat</title>
</head>
<body>
    <div class="content_offres">
        <aside class="offres">
        
          <div class="card_offres">
            <div class="head_offres">
              <h3>charika name</h3>
            </div>
            <a >
              <div class="details_offres">
                <h4>job title</h4>
                <p>job type</p>
              </div>
            </a>
            <a >
                <div class="details_offres">
                  <h4>job title</h4>
                  <p>job type</p>
                </div>
              </a> <a >
                <div class="details_offres">
                  <h4>job title</h4>
                  <p>job type</p>
                </div>
              </a>
          </div>   
        </aside> 
        <main class="main_candidate">
            <div class="card_candidate">
                
            <div class="omar">
                <div>Test
                <div class="test" tabindex="1">See More</div>
                <div class="mega">
                  <div>Test</div>
                  <div>Test</div>
                  <div>Test</div>
                  <div>Test</div>
                </div>
            </div>
              </div>
            
              <div class="omar">
                <div>Test
                <div class="test" tabindex="1">See More</div>
                <div class="mega">
                  <div>Test</div>
                  <div>Test</div>
                  <div>Test</div>
                  <div>Test</div>
                </div>
                </div>

              </div>
              <div class="omar">
                <div>Test
                <div class="test" tabindex="1">See More</div>
                <div class="mega">
                  <div>Test</div>
                  <div>Test</div>
                  <div>Test</div>
                  <div>Test</div>
                </div>
              </div>
            </div>
            </div>  
              <script src="../View/js/mega.js"></script>
            </main>
            
    </div>    
</body>
</html>