<!<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

		<link rel="stylesheet" type="text/css" href="css/main.css">
		<link rel="stylesheet" type="text/css" href="css/bouncer.css">
		<link rel="stylesheet" type="text/css" href="css/container4.css">
		<link rel="stylesheet" type="text/css" href="css/container1.css">
		<link rel="stylesheet" type="text/css" href="css/main2.scss">
		<title>bienvenu!</title>

	</head>
	<body>
			<!--bouncing balls-->
		<div class="bouncer">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
		<nav class="navbar content is-medium mb-0 p-0 pl-4" role="navigation" aria-label="main navigation">
			<div class="navbar-brand">
				<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
			    <span aria-hidden="true"></span>
			    <span aria-hidden="true"></span>
			    <span aria-hidden="true"></span>
	    </a>
			</div>
			<div class="navbar-menu" id="navbarBasicExample">
				<div class="navbar-start">
					<a href="#"><h2 class="navbar-brand pt-5 mt-1 is-italic has-color-black">Welcome!</h2></a>
					<a class="navbar-item " href="#Faqs">register</a>
					<a class="navbar-item js-modal-trigger" data-target="modal-js-example2">login</a>
				</div>
				<div class="navbar-end ">
					<a class="navbar-item ">offers</a>
					<a class="navbar-item " >Faqs</a>
					<a class="navbar-item ">contact us</a>
					<a class="navbar-item pr-4 "><img class="social" src="images/adjust-solid.svg"></a>

				</div>
			</div>
		</nav>
			<div class="container1">
				<div class="columns  ">

					<div class="column is-6-widescreen is-full-mobile main-content ">
						<div class="content main">
							<h2 class="title ">Let's get the Job done!</h2>	
							<p>find the perfect candidate for your
							Business with one click .</p>
							<div class="parentbtn">
								<button id="buy" class="js-modal-trigger button btn is-medium" data-target="modal-js-example">
								  sign up now!
								</button>				
							</div>
						</div>				

					</div>
					<div class="column is-5 image-principale">
						<img class="main-image" src="images/Group42.png">	
					</div>

				</div>
	<div id="modal-js-example2" class="modal">
			<div class="modal-background">
				<style type="text/css">
					.modal-background{
						opacity: 0;
					}
				</style>
			</div>
		  <div class="modal-content">
		    <div class="box">
		    	<h2 class="title pl-1">envoyer un mail</h2>
		    	<div class="field">
					  <label class="label">Nom et prenom</label>
					  <div class="control">
					    <input class="input" type="text" placeholder="Nom et prenom">
					  </div>
					  <label class="label2">entrez votre nom et prenom ici</label>
					</div>
					<div class="field">
					  <label class="label">Email</label>
					  <div class="control">
					    <input class="input" type="email" placeholder="Email">
					  </div>
					  <label class="label2">entrez votre email ici</label>
					</div>
					<div class="field">
					  <label class="label">Message</label>
					  <div class="control">
					    <textarea class="textarea" placeholder="Textarea"></textarea>
					  </div>
					  <label class="label2">entrez votre message et on va vous repondre le plus vite possible</label>
					</div>
					<button class="modal-close is-large" aria-label="close"></button>
					<div class="field is-grouped">
				  <div class="control">
				    <button class="button is-link has-background-black">Submit</button>
				  </div>
				  <div class="control">
				    <button class="button is-link is-light">Cancel</button>
				  </div>
					</div>
				</div>
			</div>
		</div>


		<div id="modal-js-example" class="modal">
						<div class="modal-background">
				<style type="text/css">
					.modal-background{
						opacity: 0;
					}
				</style>
			</div>
		  <div class="modal-content">
		    <div class="box">
		    	<h2 class="title pl-1">Passer ma commande</h2>
		    	<div class="field">
					  <label class="label">Nom</label>
					  <div class="control">
					    <input class="input" type="text">
					  </div>
					  <label class="label2">entrez votre nom ici</label>
					</div>

					<div class="field">
					  <label class="label">Prenom</label>
					  <div class="control">
					    <input class="input" type="text">
					  </div>
					  <label class="label2">entrez votre prenom ici</label>
					</div>
					<div class="field">
					  <label class="label">Adresse</label>
					  <div class="control">
					    <input class="input" type="text">
					  </div>
					  <label class="label2">entrez votre adresse ici</label>
					</div>

					<div class="field">
					  <label class="label">Email</label>
					  <div class="control">
					    <input class="input" type="email" >
					  </div>
					  <label class="label2">entrez votre email ici</label>
					</div>
					<button class="modal-close is-large" aria-label="close"></button>
					<div class="field is-grouped">
					  <div class="control">
					    <button class="button is-link has-background-black">Submit</button>
					  </div>
					  <div class="control">
					    <button class="button is-link is-light">Cancel</button>
					  </div>
					</div>
		    </div>
		  </div>
			
		</div>
			</div>		
			<div class="container2">
				<div class="columns">
					<div class="column  content is-medium has-text-black">
						<p class="des ml-3 mr-0 pr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
					<div class="column column-circle pr-0">
						<div class="circle1">
							<div class="circle2">
								<div class="circle">
									<img class="img1"src="images/img2.png">
								</div>					
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
		<div class="container3">
			<div class="container4 content is-medium">
				<h2 class="Faqs" id="Faqs">Frequently Asked Questions</h2>
				
				<button class="accordion mb-1 content is-medium">helloworld</button>
				<div class="panel has-text-black">
				  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				     tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				     quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				     consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				     cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				     proident, sunt in culpa qui officia deserunt mollit anim id est laborum.   </p>
				</div>

				<button class="accordion mb-1 content is-medium">helloworld</button>
				<div class="panel has-text-black">
				  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>

				<button class="accordion mb-1 content is-medium">helloworld</button>
				<div class="panel has-text-black">
				  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div> 
			</div>
		</div>

	</body>	
	<footer class="footer ourfooter">
	  <div class="content has-text-centered">
	    <p>
	      BULMA By Hello World!
	    </p>
	  </div>

		<script  src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js">
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/debug.addIndicators.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/animation.gsap.min.js" integrity="sha512-5/OHwmQzDSBS0Ous4/hlYoWLHd06/d2r7LdKZQVBXOA6PvOqWVXtdboiLTU7lQTGyVoKVTNkwi0ol4gHGlw5ww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenLite.min.js" integrity="sha512-pvDW4tehKKsohH97164HwKwRGFpzayEFWTVbk8HuUoLIQ7Jp+WLN5XYokVuoCj2aT6dy8ihbW8SRTG1k0W4mSQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenLite.min.js" integrity="sha512-pvDW4tehKKsohH97164HwKwRGFpzayEFWTVbk8HuUoLIQ7Jp+WLN5XYokVuoCj2aT6dy8ihbW8SRTG1k0W4mSQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/plugins/CSSPlugin.min.js" integrity="sha512-ocsFo48WU8Xq6Y1Lwi7psXRAujG9E4TKNR4q1DbrKzaaxOMTEoao/a+mDoB+cYzY4lwbyxvqjkp/ZA1/MNlfsg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/plugins/BezierPlugin.min.js" integrity="sha512-plyexAULVlTExvDn2yUZFJV9F8q+53MC/GpU9dEuNGXmrrI3J8Rcffjvxg3OOBALBvF+UILPLIBEoCeF2maqTQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

		<script type="text/javascript" src="js/main.js"></script>
	</footer>
</html>