body {
	align-items: center;
	font-family: arial;
	
	background-repeat: no-repeat;
	background-size : cover;
margin: 0;
}

a.m {
	
 margin-left:6em;
 border-radius:18px;
 border: 0;
transition: 0.3s;

font-family: helvetica;
	 
	  background-color: #73C6B6;
	  text-decoration: none;
	  padding: 10px 30px;
       border-bottom: 5px solid black;



	color:#333 ;
	text-decoration: none;
	padding: 10px;
}
a.m:hover
{
	color: #fff;
	background-color: #333 ;
}




strong {
color: #1C7694;
}
div.d {

	display: inline-block;
	height: 400px;
	width: 400px;
	background-color:rgb(236, 240, 241); 
	margin-top: 50px;
	margin-left: 25px;
	border-radius: 2em;
}
h4 {
  margin-left: 20px;
  color: #1C7694;
}
p{
	 margin-left: 20px;
}
a.n {
	position:relative;
	text-decoration: none;
	color: black;


}

a.m:hover{
	color: white;
	
}
ul li{
	position: relative;
	list-style: none;
	/*padding-left: 5px;*/
	margin-bottom: 10px;
	 margin-right: 29px;

}
.f {
	position: absolute;
	margin: auto auto auto 22em;
	/*transform: translate(70%,40%);*/


}
input {
	position: relative;
	display: inline-block;
}
input[type="text"] {
width: 150px;
height: 30px;
color: rgb(113, 114, 114);
border-radius: 13px;
}
select {
	width: 150px;
height: 30px;
border-radius: 13px;
color: rgb(113, 114, 114);
}
input[type="submit"] {
  position: relative;
width: 150px;
height: 30px;
border-radius: 13px;
border:none;
/*background-color: rgba(15,215,224,0.2);*/
background-color: rgba(48,213,181,0.2);

color: rgb(113, 114, 114);

}
input[type="submit"]:hover
{
	color: #fff;
	background-color: #333 ;
}