<!DOCTYPE html>
<html>
  <head>
  
  <meta charset="UTF-8"/>
  <link rel="stylesheet" href="offre.css" />

 <title>offre</title>
  
  </head>
   <body>
 <h2> <marquee> <strong>Search the jobs </strong></marquee></h2>
<!-- <a class="m" href="" > date </a>
  <a class="m"href="" > type </a>
   <a class="m" href="" > experience </a>
    <a class="m" href="" > remot </a>
-->

<br/>
<form class="f">
<label>Region</label>
<select name="jour" >
	
	<option value="1">alger</option>
	<option value="2">tizi-ouzou</option>
	<option value="3">azeffoun</option>

</select>
<label>Métiers</label>
<select name="mois">
	<option value="1">informatique</option>
	<option value="2">medecine</option>

	</select>
	<!--<label>Mots clés:</label>
	<input type="text" size="6" name="annee" placeholder="Mots-clés"id="a" >    -->
 <input type="submit" name="valider" value="rechercher" ><br>
</form>
<div class="d"><h4> emploi par métiers</h4>
<p> <ul>	
	<li ><a  href="" class="n" > Informatique, nouvelles technologies </a></li>
	<li ><a  href="" class="n"> Marketings </a></li>
	<li><a  href="" class="n"> communication </a></li>
	<li><a  href="" class="n" > gestion de projets </a></li>
	<li><a  href="" class="n"> financeProduction </a></li>
	<li><a  href="" class="n"> financeProduction </a></li>
	<li><a  href="" class="n"> financeProduction </a></li>
	<li><a  href="" class="n"> financeProduction </a></li>
</ul>
</p>
</div>
<div class="d"><h4>emploi par secteurs</h4>
<p>	<ul>	
	<li ><a  href="" class="n" > Informatique, nouvelles technologies </a></li>
	<li ><a  href="" class="n"> Marketings </a></li>
	<li><a  href="" class="n"> communication </a></li>
	<li><a  href="" class="n" > gestion de projets </a></li>
	<li><a  href="" class="n"> financeProduction </a></li>
	<li><a  href="" class="n"> financeProduction </a></li>
	<li><a  href="" class="n"> financeProduction </a></li>
	<li><a  href="" class="n"> financeProduction </a></li>
</ul>
 </p>
</div>
<div class="d"><h4> emploi par region</h4>
   <ul>	
	<li ><a  href="" class="n" > Alger </a></li>
	<li ><a  href="" class="n"> Tizi-ouzou </a></li>
	<li><a  href="" class="n"> Alger </a></li>
	<li><a  href="" class="n" > Alger </a></li>
	<li><a  href="" class="n"> Alger </a></li>
	<li><a  href="" class="n"> Alger </a></li>
	<li><a  href="" class="n"> Alger </a></li>
	<li><a  href="" class="n"> Alger </a></li>
</ul>
</p>
</div>


   	</body>
</html>